/* RESETS */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.buttonSubmit {
  background-color: #94E19B;
}

.todoBox {
  background-color: #FFFFFF;
  border-radius: 15px;
  box-shadow: rgba(3, 3, 3, 0.1) 0px 2px 10px;
  border: 0px;
}

body {
  background-color: #FAFAFA;
}
